@model IEnumerable<WebApplication2.Models.ContactInfo>
@{
    ViewData["Title"] = "Contact List";
}

<h2>Contact List</h2>

<a asp-controller="Contact" asp-action="AddContact">Add Contact</a>

<table border="1" class="border-primary">
    <tr class="btn-danger">
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Company</th>
        <th>Department</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="alert-danger">
            <td>@item.FirstName @item.LastName</td>
            <td>@item.EmailId</td>
            <td>@item.MobileNo</td>
            <td>@item.CompanyName</td>
            <td>@item.DepartmentName</td>
            <td>
                <a asp-controller="Contact" asp-action="EditContact" asp-route-id="@item.ContactId">Edit</a> |
                <a asp-controller="Contact" asp-action="DeleteContact" asp-route-id="@item.ContactId">Delete</a>
            </td>
        </tr>
    }
</table>