@model MyWebApplication3.Models.Movie

<h2>Movie Details</h2>

<p>Title: @Model.Title</p>
<p>Genre: @Model.Genre</p>
<p>Release Date: @Model.ReleaseDate</p>
<p>Price: @Model.Price</p>
<p>Rating: @Model.Rating</p>